<ion-header>
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-form">
      <!-- <img class="login-avatar" src="../../assets/homepage-icons/login-avatar.png"> -->
    <form [formGroup]="LoginForm">
      <ion-card class="login-card">
          <!-- <ion-icon name="person"></ion-icon> -->
          <ion-item class="item-name" >
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
          <div *ngIf="change && f.email.errors">
              <div class="error" *ngIf="f.email.errors.required">Email is required</div>
              <div class="error" *ngIf="f.email.errors.email">Invalid email</div>
          </div>
          <ion-item class="item-name">
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <div *ngIf="change && f.password.errors">
              <div class="error" *ngIf="f.password.errors.required">Password is required</div>
              <div class="error" *ngIf="f.password.errors.minlength">Minimum length should be 8</div>
          </div>
          <ion-button class="item-btn" (click)="login()" >Login</ion-button>
        </ion-card>
    </form>
  </div>
</ion-content>
